!!! xml
!!!

%html

%head

	%title Wow, this is pretty awesome

%body	

	%div.steve
		:maruku
			###"this is a headline"

		%hr


		%p.big

		:Markdown
			The *sweet* thing about **this**, is that everything indented here will be in a paragraph tag. 

		#this



