%h1 Sorry, something happened with your card. 

:maruku
	It just didn't work out. If you've tried it a couple of times, and are certain that your card is good, email [support@boomheadline.com](mailto:support@boomheadline.com) and we will look into it. 
