%script
  jQuery(function($) {
  var PayHeadline = $('#payheadline');
  var PayWho = $('#paywho');

  PromoHeadline = $('#promoheadline');
  PromoWho = $('#promowho');

  PayHeadline.keyup(function(e) {
  PromoHeadline.text(PayHeadline.val()); });

  PayWho.keyup(function(e) {
  PromoWho.text(PayWho.val());  });
  });

  / http://jsfiddle.net/jmmoze/3dMqU/5/

#pay.offset-by-one
  %form{ :action => "/charge", :method => "post", :id =>"pay"}

    %h3 Your Headline
    %textarea#payheadline{:id => "headline",:type => "text", :name => "line", :class => "text"} #{params[:line]}

    %h3{:for => "who"} Who Are You Writing For?
    %input#paywho{:type => "text", :name => "who", :class => "text"}

    %h3{:for => "what"} What do you want them to think/feel?
    %input#paywhat{:type => "text", :name => "what", :class => "text"}

    %h3{:for => "tone"} What kind of tone should it have?
    %input#paytone{:type => "text", :name => "tone", :class => "text"}

    %h3{:for => "name"} Your Name:
    %input#payname{:type => "text", :name => "name", :class => "text"}

    %h3{:for => "email"} Your Email:
    %input#payemail{:type => "text", :name => "email", :class => "text"}

    %h3{:for => "whatelse"} Anything else we should know?

    %input#paywhatelse{:type => "text", :cols => "65", :name => "whatelse", :class => "text"} 

    %button{:form => "none", :class => "toggle"} Enter Trial Code 

    %script{:src => "https://checkout.stripe.com/checkout.js", :class => "stripe-button", "data-key" => settings.stripe_publishable_key, "data-amount" => "2000", "data-description" => "Boom! Headline.", "data-name" => "Boom! Headline."}

#promo.offset-by-one
  %form{ :action => "/promo", :method => "post", :id => "promo"}
    %input{:type => "hidden", :name => "promo", :value => true}  
        
    %h3{:for => "line"} Your Headline
    %textarea#promoheadline{:id => "headline",:type => "text", :name => "line", :class => "text"} #{params[:line]}   


    %h3{:for => "who"} Who Are You Writing For?
    %input#promowho{:type => "text", :name => "who", :class => "text"}


    %h3{:for => "what"} What do you want them to think/feel?
    %input#promowhat{:type => "text", :name => "what", :class => "text"}


    %h3{:for => "tone"} What kind of tone should it have?
    %input#promotone{:type => "text", :name => "tone", :class => "text"}


    %h3{:for => "name"} Your Name:
    %input#promoname{:type => "text", :name => "email", :class => "text"}


    %h3{:for => "email"} Your Email:
    %input#promoemail{:type => "text", :name => "email", :class => "text"}


    %h3{:for => "whatelse"} Anything else we should know?
    <br>
    %input#promowhatelse{:type => "textarea", :cols => "65", :name => "whatelse", :class => "textarea"} 

    %h3{:for => "promocode"} Enter Trial Code Here:
    %input{:type => "text", :name => "promocode", :class => "text"}


    %button{:form => "none", :class => "toggle"} Pay with Card

    %button.toggle Submit with Trial Code
