
#subheader.eight.columns.offset-by-four
	%ol
		%li You send us a line.
		%li We'll send you a better one back.
		%li Expert copywriting, $5 a pop. <br> (limited time beta price).

#video-section
	<iframe width="480" height="360" src="//www.youtube.com/embed/tt_ZLD9ta-I" frameborder="0" allowfullscreen></iframe>

#other-section
	#input-section.ten.columns.offset-by-three
		#inputcontainer
			.center
				%form{:action => "/entice", :method => "post", :id =>"entice"}
					%textarea.mainheadline{:cols => 130, :name => "line", :placeholder => "Type your line here."}
					.boom 
					%button BOOM!

#resource-section.twelve.columns.offset-by-three
	
	.center
		#video.five.columns
			%h3	How to Craft a Line:
			<iframe width="266" height="200" src="//www.youtube.com/embed/MxoWkgkPSiY" frameborder="0" allowfullscreen></iframe>

		
		#workbook.five.columns
			%h3 Helpful E-book:
			%a{:href => "/headlineworkbook.pdf"}
				%img(src="/images/workbook.png")



