
%html
  %head
  
 

  / <!-- CSS
  / ================================================== 
  
  / <link rel="stylesheet" href="./css/style.css" type="text/css" />
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/skeleton.css">
  <link rel="stylesheet" href="./css/layout.css">
  <link rel="stylesheet" href="./css/additionalstyles.css">
  
  / Fonts
  / ================================================== 
  
  <link href='http://fonts.googleapis.  com/css?family=Libre+Baskerville:400,700,400italic'   rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.  com/css?family=Open+Sans:400italic,400,800,700' rel='stylesheet'   type='text/css'>
  
  
  <link href='http://fonts.googleapis.com/css?family=Questrial'   rel='stylesheet' type='text/css'>
  
  / font-family: 'Questrial', sans-serif;
  
  /  Scripts
  / ================================================== 

  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"} 

  %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"} 

  %script

    $(document).ready(function() {
    $("#promo").hide();

    $(".toggle").click(function(){
    $("#pay").toggle();
    $("#promo").toggle();

    });
    });

  #maincontain.sixteen.columns
    .container
      %header{:id => "header"}
     
        %a{:href => "/"}
          %img(src="/images/boomlogo.png")


    %body
      .container.sixteen.columns
        %section{:id => "content"}	
          =yield

    %footer
      .container.offset-by-three
        %p This is a footer.

