

%h1 Response

- params.each do | key, value |
	%p= key + " --- " + value
	%hr





"#{params[:email]}"

%h3 
	Token
	- params[:stripeToken]

/ - customer = Stripe::Customer.create(:email => params[:stripeEmail], :card  => params[:stripeToken])

/ - charge = Stripe::Charge.create(:amount => 2000, :currency => "usd", :card => params[:stripeToken], :description => "Boom! Headline.")

/      