
.pagecontainer.twelve.columns.offset-by-three
	%h1 Thanks for submitting a line. 

	%p 
		Rest assured, we are on it. Check your email for an email. We guarantee a response time of one business day. We're generally faster. But there are a lot of people to help and a limited number of us. 


/ - params.each do | key, value |
/ 	%p= key + " --- " + value
/ 	%hr





/ "#{params[:email]}"

/ %h3 
/ 	Token
/ 	- params[:stripeToken]
